<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nlnnln"> 

<xacro:include filename="hebi.xacro"/>
<xacro:include filename="leg.xacro"/>
<xacro:include filename="wheel.xacro"/>
<xacro:include filename="chassis.xacro"/>
<xacro:chassis/>

<!-- No limb at port 1-->

<xacro:leg num="2" mount_xyz="0 0.1760    0.0095" mount_rpy="0 0 ${3*pi/6- pi/2}"/> 

<!-- No limb at port 3-->

<!-- No limb at port 4-->

<xacro:leg num="5" mount_xyz="0 -0.1760  0.0095" mount_rpy="0 0 ${9*pi/6- pi/2}"/> 

<!-- No limb at port 6-->

</robot>