<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nnnnnn"> 

<xacro:include filename="hebi.xacro"/>
<xacro:include filename="leg.xacro"/>
<xacro:include filename="wheel.xacro"/>
<xacro:include filename="chassis.xacro"/>
<xacro:chassis/>

<!-- No limb at port 1-->

<!-- No limb at port 2-->

<!-- No limb at port 3-->

<!-- No limb at port 4-->

<!-- No limb at port 5-->

<!-- No limb at port 6-->

</robot>